.hero {
    background-image: url("{{ url_for('static', filename='lixoeletronico.png') }}");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}

.hero-text {
    background: rgba(0,0,0,0.5);
    padding: 30px;
    border-radius: 10px;
}

