.hero {
    text-align: center;
    background: url("logo.png") no-repeat center;
    background-size: cover;
    padding: 50px;
    color: white;
}

.hero h1 {
    font-size: 2em;
}

.btn {
    background: #27ae60;
    color: white;
    padding: 10px 20px;
    margin: 10px;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    background: #219150;
}
