<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <!-- CSS global -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    {% block extra_css %}{% endblock %}
</head>
<body>
    <header>
        <div class="logo-title">
            <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo" class="logo">
            <div class="title-text">
                <h1>EcoDescarte</h1>
                <p>Descarte consciente de eletrônicos</p>
            </div>
        </div>
        <nav>
            <a href="/">Início</a>
            <a href="/cadastro">Cadastro</a>
            <a href="/agendamento">Agendamento</a>
            <a href="/login">Login</a>
            <a href="/saibamais">Saiba Mais</a>
            <a href="/mapa">Mapa</a>
            <a href="/admin/locais">Admin Locais</a>
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>EcoDescarte © 2026 - Limeira/SP</p>
    </footer>

    {% block extra_js %}{% endblock %}
</body>
</html>








