{% extends "base.html" %}
{% block title %}EcoDescarte{% endblock %}
{% block content %}
<div class="hero">
    <div class="hero-text">
        <h2>Encontre locais para descartar seu lixo eletrônico</h2>
        <p>Descarte de forma correta e ajude o meio ambiente.</p>
        <div class="buttons">
            <!-- Usa url_for para garantir que a rota funcione -->
            <a href="{{ url_for('agendamento') }}" class="btn">Pontos de coleta</a>
            <a href="{{ url_for('saibamais') }}" class="btn">Saiba mais</a>
        </div>
    </div>
</div>
{% endblock %}
