{% extends "base.html" %}
{% block title %}Agendamentos{% endblock %}
{% block content %}
<section class="admin-section">
    <h2>Todos os Agendamentos</h2>
    <table>
        <thead>
            <tr>
                <th>ID</th><th>Usuário</th><th>Email</th><th>Data</th><th>Local</th>
            </tr>
        </thead>
        <tbody>
            {% for a in agendamentos %}
            <tr>
                <td>{{ a.id }}</td>
                <td>{{ a.usuario.nome }}</td>
                <td>{{ a.usuario.email }}</td>
                <td>{{ a.data }}</td>
                <td>{{ a.local }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</section>
{% endblock %}
