{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
{% endblock %}
{% block content %}
<div class="login-container">
    <h1>Seja bem-vindo</h1>
    <form method="POST">
        <input type="email" name="email" placeholder="Email">
        <input type="password" name="senha" placeholder="Senha">
        <button type="submit">Login</button>
    </form>
    <p>Esqueceu a senha? <a href="{{ url_for('cadastro') }}">Inscrever-se</a></p>
    <p>OU FAÇA LOGIN COM</p>
    <div class="social-login">
        <img src="{{ url_for('static', filename='google.png') }}" alt="Google">
        <img src="{{ url_for('static', filename='facebook.png') }}" alt="Facebook">
    </div>
</div>
{% endblock %}
