{% extends "base.html" %}

{% block title %}Mapa{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='mapa.css') }}">
<link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css">
{% endblock %}

{% block content %}
<h2>Mapa de Pontos de Coleta</h2>
<div id="map"></div>
{% endblock %}

{% block extra_js %}
<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

<script>
const locais = JSON.parse('{{ locais | tojson | safe }}');

var map = L.map('map').setView([-22.566, -47.400], 13);

L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png').addTo(map);

locais.forEach(function(l){
    L.marker([l.latitude, l.longitude])
        .addTo(map)
        .bindPopup("<b>"+l.nome+"</b><br>"+l.endereco);
});
</script>
{% endblock %}