{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='saibamais.css') }}">
{% endblock %}
{% block content %}
<div class="saiba-container">
    <h1>Saiba Mais</h1>
    <p>O descarte correto de lixo eletrônico ajuda a proteger o meio ambiente e evita a contaminação do solo e da água.</p>
    <p>Participe das campanhas de conscientização e leve seus equipamentos antigos para os pontos de coleta.</p>
    <ul>
        <li>Pilhas</li>
        <li>Baterias</li>
        <li>Computadores</li>
        <li>Impressoras</li>
        <li>Mouses</li>
        <li>Cabos</li>
        <li>Smartphones</li>
        <li>Carregadores</li>
        <li>Micro-ondas</li>
    </ul>
</div>
{% endblock %}
